DB_Host			{{ mysql_host }}
DB_Database		{{ database_cacti_name }}
DB_User			{{ database_cacti_username }}
DB_Pass			{{ database_cacti_password }}
DB_Port			{{ mysql_port }}

#RDB_Host		localhost
#RDB_Database		cacti
#RDB_User		cactiuser
#RDB_Pass		cactiuser
#RDB_Port		3306
